.container {
  display: block;
  width: 100%;
  color: var(--classic-black);
  font-family: var(--font-default);
  font-style: normal;
  font-weight: var(--font-bold-weight);
  letter-spacing: 0;
  text-align: left;
}

.variantH1 {
  font-size: var(--heading-h1-size);
  font-weight: 600;
  line-height: 110%;
}

.variantH2 {
  font-size: var(--heading-h2-size);
  font-weight: 600;
  line-height: 35px;
}

.variantH3 {
  font-size: var(--heading-h3-size);
  font-weight: 500;
  line-height: 27px;
}

.variantH4 {
  font-size: var(--heading-h4-size);
  font-weight: 600;
  line-height: 24px;
}

.variantH5 {
  font-size: var(--heading-h5-size);
  font-weight: 500;
  line-height: 24px;
}

.variantH6 {
  font-size: var(--heading-h6-size);
  font-weight: 500;
  line-height: 21px;
}

.colorBlack {
  color: var(--classic-black);
}

.colorGrey {
  color: var(--writer-grey-1);
}

.colorGrey2 {
  color: var(--writer-grey-2);
}

.bold {
  font-weight: var(--font-bold-weight);
}

.medium {
  font-weight: var(--font-medium-weight);
}

.uppercase {
  letter-spacing: 3px;
  text-transform: uppercase;
}
