.container {
  border: 1px solid var(--writer-graynu-2);
  border-radius: 12px 12px 0 0;
  margin: 5px 0;
  box-shadow: var(--writer-section-shadow);
}

.heading {
  display: flex;
  overflow: hidden;
  border-radius: 12px 12px 0 0;

  .tab {
    flex: 1;
    border-top: none;
    border-right: none;
    white-space: nowrap;

    &:first-child {
      border-left: none;
    }
  }
}

.content {
  padding: 17px 18px 16px;
}
