.container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid var(--writer-graynu-2);
  border-radius: 8px;
  box-shadow: 0 2px 0 #f3f3f3;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.analyzingContainer {
  background-color: var(--writer-graynu-1);
}

.errorContainer {
  border-color: var(--writer-orange) !important;
}

.container:hover {
  border: 1px solid #d2d4d7;
}

.status {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: flex;
}

.statusError {
  color: var(--writer-orange);
}

.loader {
  display: flex;
  width: 18px;
  min-width: 50px !important;
  height: 18px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.fileName {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.textContainer {
  overflow: hidden;
  width: 75%;
  text-overflow: ellipsis;
}

.icon {
  margin-right: 15px;
}

.deleteButton {
  position: absolute;
  top: 50%;
  right: 15px;
  display: none;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--writer-graynu-2);
  cursor: pointer;
  transform: translateY(-50%);
}

.skeleton {
  height: 8px;
  border-radius: 10px;
  background: var(--writer-graynu-1);
}

.nameSkeleton {
  width: 100%;
}

.metaInfoSkeleton {
  width: 30% !important;
  margin-top: 10px;
  margin-bottom: 0;
}

.container:hover .deleteButton {
  display: flex;
}

.enter {
  opacity: 0;
  transform: translateX(-400px);
}

.enterActive {
  opacity: 1;
}

.exit {
  opacity: 0;
  transform: translateX(-400px);
}

.exitDone {
  display: none;
}

.tooltipWrapper {
  width: 160px;
}
