.styledLabel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 4px;
  white-space: nowrap;
}

.styledLabel p {
  font-weight: 500;
}

.errorText {
  overflow: hidden;
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.requiredMark {
  color: var(--classic-grey-3);
}
