.list {
  position: absolute;
  z-index: 1;
  overflow: auto;
  width: 100%;
  max-height: 250px;
  box-sizing: border-box;
  padding: 0;
  border: var(--writer-graynu-3);
  border-radius: 4px;
  margin: 1px 0 0;
  background-color: var(--classic-white);
  box-shadow: var(--menu-box-shadow);
  list-style: none;
}

.list li {
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 15px;
}

.list li span {
  font-size: 11px;
}

.list li small {
  color: var(--classic-grey-4);
  font-size: 10px;
}

.list li[data-focus='true'] {
  background-color: var(--writer-blue-1);
  cursor: pointer;
}

.list li[data-focus='true'],
.list li:hover {
  background-color: var(--writer-blue-1);
  cursor: pointer;
}

.list li[aria-selected='true'],
.list li[aria-selected='false'] {
  display: flex;
  height: 32px;
  min-height: 32px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 2px 7px;
  background: var(--classic-white) !important;
  font-size: var(--font-size-s);
  font-weight: var(--font-default-weight);
  line-height: var(--font-size-s);
}

.list li[aria-selected='true']:hover,
.list li[aria-selected='false']:hover {
  background: var(--writer-blue-1) !important;
}

.list li[aria-selected='true'] {
  background: var(--writer-blue-2) !important;
  font-weight: 500;
}

.inputWrapper {
  display: flex;
  min-width: 300px;
  min-height: 30px;
  max-height: 140px;
  flex-wrap: wrap;
  padding: 7px 0;
  border: 1px solid var(--writer-graynu-3);
  border-radius: 4px;
  background-color: var(--classic-white);
  overflow-y: scroll;
}

.inputWrapper.focused {
  border: 1px solid var(--writer-blue-3);
  border-radius: 4px;
  box-shadow: var(--input-box-shadow);
}

.inputWrapper.emptyText,
.inputWrapper.emptyText input {
  background-color: var(--classic-white);
}

.inputWrapper.disabled,
.inputWrapper.disabled input {
  background-color: var(--classic-grey-1);
}

.inputWrapper.focused,
.inputWrapper.focused input {
  background-color: var(--white);
}

.inputWrapper:hover {
  border: 1px solid var(--writer-blue-3);
}

.inputWrapper input {
  width: 0;
  min-width: 40px;
  height: 30px;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 4px 12px;
  border: 0;
  margin: 0;
  font-size: var(--font-size-m);
  line-height: 24px;
  outline: 0;
}

.inputWrapper input::placeholder {
  color: var(--classic-grey-2);
}

.tag {
  display: flex;
  overflow: hidden;
  height: 21px;
  align-items: center;
  padding: 2px 8px;
  border-radius: 26px;
  margin: 5px 3px 4px;
  background: var(--writer-blue-2);
  outline: 0;
}

.adminTag {
  background-color: var(--writer-graynu-2);
}

.tag:hover,
.tag:focus {
  background-color: var(--writer-blue-3);
}

.tag span {
  overflow: hidden;
  font-size: 11px;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag svg {
  box-sizing: content-box;
  padding: 2px;
  margin-left: 3px;
  cursor: pointer;
  font-size: var(--font-size-m);
}

.closeIcon:hover {
  border-radius: 50%;
  background-color: var(--writer-blue-3);
  cursor: pointer;
}

.closeIcon svg {
  width: 12px;
  height: 12px;
}
