.switcher {
  margin-left: 5px;

  --switcher-size: 10px;
}

.switcher.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.switcher input[type='checkbox'] {
  position: absolute;
  display: none;
}

.switcher label {
  position: relative;
  display: flex;
  height: var(--switcher-size);
  align-items: center;
  color: var(--classic-grey-3);
  cursor: pointer;
  font-size: 11px;
  line-height: 19px;
  outline: 0;
  text-transform: none;
  user-select: none;
}

.textHolder {
  order: 3;
  margin-left: 10px;
}

.switcher label::before {
  width: calc(var(--switcher-size) * 1.8);
  height: calc(var(--switcher-size) * 0.7);
  border: none;
  border-radius: 13px;
  background-color: var(--classic-grey-1-5);
  content: '';
  transition: all 0.1s ease-in;
}

.switcher input[type='checkbox']:checked + label::before {
  background: var(--writer-blue-3);
}

.switcher label::after {
  position: absolute;
  left: 0;
  width: var(--switcher-size);
  height: var(--switcher-size);
  border-radius: 50%;
  background-color: var(--classic-grey-3);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 24%), 0 0 1px 0 rgb(0 0 0 / 12%);
  content: '';
  transition: all 0.1s ease-in;
}

.switcher input[type='checkbox']:checked + label::after {
  left: calc(var(--switcher-size) * 0.8);
  background-color: var(--writer-blue-5);
}
